# Dependencies
node_modules/

# Build
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# Test / coverage
coverage/

# Angular
.angular/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.tar
/generated/prisma
